# *.code-workspace
data
__pycache__
# .vscode
# .ipynb_checkpoints
*.tar
*.zip
saves/*
!saves/baseline/
saves/baseline/*.log
saves/baseline/**/tensorboard
saves/baseline/**/*.log
!saves/baseline/**/**_best.tar
tiny-imagenet-200/

