*.code-workspace
data
__pycache__
.vscode/*
# .ipynb_checkpoints
*.tar
*.zip
*.jpg
saves/*
!saves/baseline/vgg11-cifar10/checkpoint_client_best.tar
!saves/baseline/vgg11-cifar10/checkpoint_cloud_best.tar
old_saves/*
tiny-imagenet-200/
mobilenetv2_pytorch_standalone/pretrained/
wandb/*
datasets/tiny-imagenet-200/
datasets/facescrub-dataset/
mobilenetv2.pytorch/
tools/feature_vectors/*/deep_features/*/*.pt
tools/feature_vectors/*/deep_features/*/*.png
!tools/feature_vectors/naive_vgg11_cifar10_cut10/*.tar
